<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.iels.learning.dao.CourseMapper">
    <select id="findCourseBaseById" parameterType="java.lang.String"
            resultType="com.iels.framework.domain.course.CourseBase">
        select * from course_base where id = #{id}
    </select>

    <select id="findCourseList" resultType="com.iels.framework.domain.course.CourseBase">
        select * from course_base
    </select>

    <select id="findCourseListPage" parameterType="com.iels.framework.domain.course.request.CourseListRequest"
            resultType="com.iels.framework.domain.course.ext.CourseInfo">

        SELECT
            course_base.*,
            (SELECT pic FROM course_pic WHERE courseid = course_base.id) pic
        FROM
            course_base
        <where>
            <if test="name != null">
                and name LIKE #{name}
            </if>
            <if test="companyId != null">
                and company_id = #{companyId}
            </if>
            <if test="userId != null">
                and  user_id = #{userId}
            </if>
        </where>
    </select>

    <select id="findAllCourse" resultType="com.iels.framework.domain.course.ext.CourseInfo">
    SELECT
        course_base.*,
        (SELECT pic FROM course_pic WHERE courseid = course_base.id) pic
    FROM
        course_base
    </select>
</mapper>